@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap');

body{
    font-family: "Ubuntu";
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-Bold";
}

.p{
    color: #8f8f8f;
}

/* Headings */
.big-heading{
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
    font-family: "Montserrat-Black";
}
.section-heaing{
    font-size: 3rem;
    line-height: 1.5;
}




#title{
    background-color: #ff4c68;
    text-align: left;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: "Montserrat-Light";
}
.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 60%;
    height: 100%;
    transform: rotate(25deg);
    right: 30%;
    
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    
}
.feature-box{
    padding: 5%;
}
.feature-title{
    font-size:1.5rem;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ff4c68
}

/* testimonials */
#testimonials{
    background-color: #ef8172;
    color: #fff;
}
.testimonial-text{
    font-size:3rem;
    line-height: 1.5;

}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    padding:100px;
}
.pricing-column{
    padding: 3% 2%;
}
.pricing-text{
    font-size: 3rem;
    line-height: 1.5;
}

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

#cta{
    background-color: #ff4c68;
    color: white;
}
#footer{
    background-color: #fff;
    padding: 7% 15%;

}
.footer-button{
    margin: 5% 3% 5% 0;
}
.social-icon{
    margin: 20px 10px;
}